@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Mes livraisons";
    @Model.Count();
}

<h2>Mes livraisons</h2>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                N° commande
            </th>
            <th>
                Client
            </th>
            <th>
                Date de livraison demandée
            </th>
            <!--<th></th>-->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_time_requested)
            </td>
            <!--
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
    -->
        </tr>
        }
    </tbody>
</table>
